@model IEnumerable<AuthStore.Models.City>

@{
    ViewData["Title"] = "Index";
}

<div class="app-main__inner">
    <div class="card-body">
        <div class="row">
            <div class="card bg-deep-blue">
                <div class="card-header bg-primary text-uppercase text-center text-white">
                    <h4><a asp-action="Create" class="btn btn btn-light">Create New</a>  City</h4>
                </div>
                <div class="container mt-2">

                    <table class="table">
                        <thead class="bg-deep-blue">
                            <tr>
                                <th>City Name</th>
                                <th>City Abbreviation </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CityName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.CityAbbr)
                                    </td>


                                    <td>
                                        <partial name="_ButtonPartial" model="@item.CityId" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

